<!DOCTYPE html>
<html>
<head>
    <title>Form </title>
</head>
<body>
    <center>
    <form method="post" action="/submit">
        Name:
        <input type="text" name="username">
        <br><br>
        Email:
        <input type="email" name="email">
        <br><br>
        Roll Number:
        <input type="text" name="rollnumber">
        <br><br>
        Year:
        <select id="select" name="year">
            <option value="1st Year">1st Year</option>
            <option value="2nd Year">2nd Year</option>
            <option value="3rd Year">3rd Year</option>
            <option value="4th Year">4th Year</option>
        </select>
        <br><br>
        <input type="submit" value="Submit">
    </form>
    </center>
</body>
</html>